<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="main">
        <div class="header">
            <div id="div1">
                <div><button id="Menu" class="buttonH"></button></div>
                <div><a id="YoutubeIcon" class="buttonH" href="file:///A:/Programas/GitHub/BryanDSouza777/2Fase/LayoutFinal/youtube.html"></a></div>
            </div>
            <div id="div2">
                <form class="searchBar">
                    <div><input type="text" id="text" placeholder="Pesquisar"></div>
                    <div><button id="virtualkeyboard" class="buttonH"></button></div>    
                </form>
                <div><button id="search" class="buttonH"></button></div>
                <div><button id="mic" class="buttonH"></button></div>
            </div>
            <div id="div3">
                <div><button id="threepoints" class="buttonH"></button></div>
                <div><button id="login" class="buttonH"></button></div>
            </div>
        </div>
        <div id="MainContent">
            <div class="content">
                <div id="video">
                    <iframe width="1280" height="720" src="https://www.youtube.com/embed/xVUcbX11qdI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    <h1 id="title">ANTIGRAVIDADE </h1>
                    <h3 id="vizu">990 mil vizualizações  há 2 meses</h3>
                </div>
                <div id="buttonsBar">
                    <div id="channel">
                        <a href="https://www.youtube.com/c/CienciaTodoDia">
                            <img id="channelImg" src="https://yt3.ggpht.com/ytc/AMLnZu_I9SKhqEqL2YuI7M5-D4oVBtRfQB0lXVQ1FGsAAA=s48-c-k-c0x00ffffff-no-rj" alt="">
                        </a>
                        <div id="channelText">
                            <a id="channelName" href="https://www.youtube.com/c/CienciaTodoDia">Ciência Todo Dia</a>
                            <p id="numInscritos">3,2 mi de inscritos</p>
                        </div>
                        <img id="verificado" src="https://media.discordapp.net/attachments/892937609943322635/1039169296821129338/imagem_2022-11-07_102041147.png" alt="">
                        <div id="bottonsChannel">
                            <button id="membro">Seja membro</button>
                            <button id="inscrito">Inscreva-se</button>
                        </div>
                    </div>
                    <div id="buttonsMain">
                        <div id="likedisc">
                            <button id="like"></button>
                            <p id="numlike">95 mil</p>
                        </div>
                        <div id="divbar"></div>
                        <div id="deslike-border">
                            <button id="deslike"></button>
                        </div>
                        <div id="sharedisc">
                            
                        </div>
                        <div id="share">
                            <button id="share-button"></button>
                            <p id="share-text">Compartilhar</p>
                        </div>
                        
                        <button id="more"></button>
                    </div>
                </div>
            </div>
            <div class="lateralBar">
                <div id="video-rec1" class="rec">
                    <div id="thumb1"></div>
                    <div class="thumb-disc">
                        <div id="title1" class="title-rec"></div>
                        <div id="channel1" class="channel-rec"></div>
                        <div id="views1" class="views-rec"></div>
                    </div>
                </div>
                <div id="video-rec2" class="rec">
                    <div id="thumb2"></div>
                    <div class="thumb-disc">
                        <div id="title2" class="title-rec"></div>
                        <div id="channel2" class="channel-rec"></div>
                        <div id="views2" class="views-rec"></div>
                    </div>
                </div>
                <div id="video-rec3" class="rec">
                    <div id="thumb3"></div>
                    <div class="thumb-disc">
                        <div id="title3" class="title-rec"></div>
                        <div id="channel3" class="channel-rec"></div>
                        <div id="views3" class="views-rec"></div>
                    </div>
                </div>
                <div id="video-rec4" class="rec">
                    <div id="thumb4"></div>
                    <div class="thumb-disc">
                        <div id="title4" class="title-rec"></div>
                        <div id="channel4" class="channel-rec"></div>
                        <div id="views4" class="views-rec"></div>
                    </div>
                </div>
                <div id="video-rec5" class="rec">
                    <div id="thumb5"></div>
                    <div class="thumb-disc">
                        <div id="title5" class="title-rec"></div>
                        <div id="channel5" class="channel-rec"></div>
                        <div id="views5" class="views-rec"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>