{%extends 'base.html'%}
{% load static%}
{%block 'titulo'%}Valhalla NerdGeek{%endblock%}
{%block 'conteudo'%}
<div id="content-home">
    <div class="category-home">
        <div class="category-head">
            <div class='animes-background background-category'>
                <h1 class="title-category">Anime</h1>
            </div>
        </div>
        <div class="category-content">
            
        </div>
    </div>
    <div class="category-home">
        <div class="category-head">
            <div class='hardwares-background background-category'>
                <h1 class="title-category">Hardware</h1>
            </div>
        </div>
        <div class="category-content">
            ola
        </div>
    </div>
    <div class="category-home">
        <div class="category-head">
            <div class='jogos-background background-category'>
                <h1 class="title-category">Jogos</h1>
            </div>
        </div>
        <div class="category-content">

        </div>
    </div>
</div>

{%endblock%}